html{
  font-size:62.5%;
  box-sizing: border-box;
}
body{
  font: 1.2rem 'Helvetica';
  height: 100vh;
  margin: 0;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}
.brand a{
  color: aliceblue;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header{
  display:flex;
  background-color: #011542;
  grid-area: header;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
  padding:0.5rem;
}
span{
  padding: 1rem;
}
.main{
  grid-area: main;
}
.img{
  max-width: 20rem;
  max-height: 20rem;
}
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
li{
  list-style-type: none;
}
.product{
  flex:0 1 34rem;
  margin: 1rem;
  height: 10rem;
  border: .1 #c0c0c0 solid;
}
.product-name{
  font-size: 1rem;
  font-weight: bold;
}
.product-price{
  font-size: 1.5rem;
  font-weight: bold;
}
.product-container{
  display: flex;
  height: 100%;
}
.details-action{
  padding:1rem;
  margin-top: 5rem;
  box-shadow: 1rem .5rem 3rem .1rem #969595;
  border-radius: 5px;
  width: 15rem;
}
.details-action div{
  padding: .5rem;
}
.product-details{
  display: flex;
  padding-top: 10rem;
  padding-bottom: .5rem;
  width: 60%;
  margin: 5rem;
  box-shadow: 1rem .5rem 3rem .1rem #969595;
  border-radius: 5px;
}
.product-details img{
  height: 30rem;
}
.add-to-cart{
  border: .5px solid #dbd800;
  margin: 1rem;
  background-color: #858448;
  border-radius: 5px;
}
.add-to-cart:hover{
  background-color: #dbd800;
}
a{
  text-decoration: none;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000614;
  color:antiquewhite;
  grid-area: footer;
}
/*sidebar */
.brand-button{
  font-size: 2.5rem;
  color:#ffffff;
  background: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.sidebar{
  position: relative;
  position: fixed;
  transition: all .5s;
  transform: translateX(-30rem);
  width: 20rem;
  background-color: #f0f0f0;
  height: 100vh;
  padding: 1rem;
}
.sidebar.open{
  transform: translateX(0);
}
.close-button{
  position: absolute;
  border-radius: 50%;
  right: 1rem;
  top: 1rem;
}
/* cart screen */
.cart{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.cart-list{
  flex:3 1 60rem;
}
.cart-list-container{
  padding: 1rem;

}
.cart-list-container img{
  max-width: 10rem;
  max-height: 10rem;
}
.cart-action{
  flex:1 1 20rem;
  padding: 1rem;
  margin: 1rem;
  background-color: #717dc2;
  border-radius: 5px;
}
.button{
  border-radius: 5px;
  box-shadow:1px 1px 4px #000614;
  border-style: none;
  cursor: pointer;
}
.primary{
  background-color:#58f000 ;
}
.button:hover{
  background-color: #b8ff98;
}